.Figures__title {
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
}

.Figures-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 680px;
    overflow: auto;
}

.Figures-list__item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Figures-list__item img {
    max-width: 100%;
    height: 170px;
}

.Figures-list button {
    display: block;
    width: 100%;
    margin-top: 5px;
    height: 30px;
    border: none;
    background: #9f102d;
    color: #fff;
    text-transform: uppercase;
    opacity: 0;
    cursor: pointer;
}

.Figures-list__item:hover {
    border-color: #9f102d;
}

.Figures-list__item:hover button {
    opacity: 1;
}

