/*.AddFigure {*/
    /*margin-right: 30px;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
/*}*/

/*.AddFigure__col {*/
    /*flex: 0 0 50%;*/
    /*max-width: 50%;*/
/*}*/

/*.AddFigure__image {*/
    /*padding: 0 20px;*/
    /*text-align: center;*/
/*}*/

/*.AddFigure__image img {*/
    /*max-width: 100%;*/
/*}*/

/*.AddFigure__title {*/
    /*font-size: 23px;*/
    /*font-weight: 700;*/
    /*text-transform: uppercase;*/
/*}*/

/*.AddFigure input {*/
    /*margin: 30px 0;*/
    /*width: 100%;*/
    /*height: 45px;*/
    /*padding: 0 13px;*/
    /*border: 1px solid #40331e;*/
    /*font-size: 17px;*/
/*}*/

/*.AddFigure p {*/
    /*margin: 0 0 10px;*/
    /*font-size: 17px;*/
/*}*/

/*.AddFigure__stones {*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*width: 100%;*/
    /*margin-top: 30px;*/
/*}*/

/*.AddFigure__stones label {*/
    /*flex: 0 0 11%;*/
    /*text-align: center;*/
    /*margin-bottom: 20px;*/
    /*cursor: pointer;*/
/*}*/

/*.AddFigure__stones label:hover .stone-checkbox {*/
    /*background: #9f102d;*/
/*}*/

/*.AddFigure__stones img {*/
    /*width: 20px;*/
    /*height: 20px;*/
/*}*/

/*.AddFigure__stones span {*/
    /*display: block;*/
    /*font-size: 17px;*/
/*}*/

/*.AddFigure__stones .stone-checkbox {*/
    /*width: 21px;*/
    /*height: 21px;*/
    /*border: 2px solid #666666;*/
    /*margin: 5px auto;*/
    /*position: relative;*/
/*}*/

/*.AddFigure__stones .active .stone-checkbox:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 2px;*/
    /*left: 2px;*/
    /*right: 2px;*/
    /*bottom: 2px;*/
    /*background: #9f102d;*/
/*}*/

/*.AddFigure__price-add {*/
    /*text-align: center;*/
    /*flex: 0 0 50%;*/
    /*max-width: 50%;*/
    /*margin: 30px 0 0 auto;*/
/*}*/

/*.AddFigure__price {*/
    /*color: #a81c34;*/
    /*font-size: 30px;*/
/*}*/

/*.AddFigure__add {*/
    /*border: 1px solid #1e0e00;*/
    /*padding: 7px;*/
    /*display: table;*/
    /*margin: 15px auto 0;*/
/*}*/

/*.AddFigure__add button {*/
    /*width: 196px;*/
    /*height: 30px;*/
    /*color: #ffffff;*/
    /*font-size: 20px;*/
    /*text-transform: uppercase;*/
    /*border: none;*/
    /*background: #9f102d;*/
    /*cursor: pointer;*/
/*}*/

