@font-face {
  font-family: Corbel;
  src: url('./Corbel/corbel.eot');
  src: url('./Corbel/corbel.eot') format('embedded-opentype'),
  url('./Corbel/corbel.woff2') format('woff2'),
  url('./Corbel/corbel.woff') format('woff'),
  url('./Corbel/corbel.ttf') format('truetype'),
  url('./Corbel/corbel.svg#corbel') format('svg');
}

@font-face {
  font-family: Corbel;
  font-weight: 700;
  src: url('./CorbelBold/corbelb.eot');
  src: url('./CorbelBold/corbelb.eot') format('embedded-opentype'),
  url('./CorbelBold/corbelb.woff2') format('woff2'),
  url('./CorbelBold/corbelb.woff') format('woff'),
  url('./CorbelBold/corbelb.ttf') format('truetype'),
  url('./CorbelBold/corbelb.svg#corbelb') format('svg');
}

@font-face {
  font-family: 'Acquestscript';
  src: url('./ru/Acquestscript.ttf') format('truetype');
}
@font-face {
  font-family: 'AnastasiaScript';
  src: url('./ru/AnastasiaScript.eot');
  src: url('./ru/AnastasiaScript.eot') format('embedded-opentype'),
  url('./ru/AnastasiaScript.woff2') format('woff2'),
  url('./ru/AnastasiaScript.woff') format('woff'),
  url('./ru/AnastasiaScript.ttf') format('truetype'),
  url('./ru/AnastasiaScript.svg#AnastasiaScript') format('svg');
}
@font-face {
  font-family: 'Aquarelle';
  src: url('./ru/Aquarelle.ttf') format('truetype');
}
@font-face {
  font-family: 'Aurora Script';
  src: url('./ru/Aurora Script.ttf') format('truetype');
}
@font-face {
  font-family: 'Bickham Script One';
  src: url('./ru/Bickham Script One.ttf') format('truetype');
}
@font-face {
  font-family: 'Bickham Script Two';
  src: url('./ru/Bickham Script Two.ttf') format('truetype');
}
@font-face {
  font-family: 'Bolero Script';
  src: url('./ru/Bolero Script.ttf') format('truetype');
}
@font-face {
  font-family: 'Boyarsky';
  src: url('./ru/Boyarsky.eot');
  src: url('./ru/Boyarsky.eot') format('embedded-opentype'),
  url('./ru/Boyarsky.woff2') format('woff2'),
  url('./ru/Boyarsky.woff') format('woff'),
  url('./ru/Boyarsky.ttf') format('truetype'),
  url('./ru/Boyarsky.svg#Boyarsky') format('svg');
}
@font-face {
  font-family: 'Copyist Thin';
  src: url('./ru/Copyist Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Corinthia';
  src: url('./ru/Corinthia.ttf') format('truetype');
}
@font-face {
  font-family: 'Coronet';
  src: url('./ru/Coronet.eot');
  src: url('./ru/Coronet.eot') format('embedded-opentype'),
  url('./ru/Coronet.woff2') format('woff2'),
  url('./ru/Coronet.woff') format('woff'),
  url('./ru/Coronet.ttf') format('truetype'),
  url('./ru/Coronet.svg#Coronet') format('svg');
}
@font-face {
  font-family: 'CorridaC';
  src: url('./ru/CorridaC.eot');
  src: url('./ru/CorridaC.eot') format('embedded-opentype'),
  url('./ru/CorridaC.woff2') format('woff2'),
  url('./ru/CorridaC.woff') format('woff'),
  url('./ru/CorridaC.ttf') format('truetype'),
  url('./ru/CorridaC.svg#CorridaC') format('svg');
}
@font-face {
  font-family: 'EnglishScript';
  src: url('./ru/EnglishScript.eot');
  src: url('./ru/EnglishScript.eot') format('embedded-opentype'),
  url('./ru/EnglishScript.woff2') format('woff2'),
  url('./ru/EnglishScript.woff') format('woff'),
  url('./ru/EnglishScript.ttf') format('truetype'),
  url('./ru/EnglishScript.svg#EnglishScript') format('svg');
}

@font-face {
  font-family: 'Esenin Script One';
  src: url('./ru/Esenin Script One.ttf') format('truetype');
}
@font-face {
  font-family: 'Heinrich Script';
  src: url('./ru/Heinrich Script.ttf') format('truetype');
}
@font-face {
  font-family: 'Isabella-Decor';
  src: url('./ru/Isabella-Decor.ttf') format('truetype');
}
@font-face {
  font-family: 'OlgaCTT';
  src: url('./ru/OlgaCTT.eot');
  src: url('./ru/OlgaCTT.eot') format('embedded-opentype'),
  url('./ru/OlgaCTT.woff2') format('woff2'),
  url('./ru/OlgaCTT.woff') format('woff'),
  url('./ru/OlgaCTT.ttf') format('truetype'),
  url('./ru/OlgaCTT.svg#OlgaCTT') format('svg');
}
@font-face {
  font-family: 'Pompadur';
  src: url('./ru/Pompadur.ttf') format('truetype');
}
@font-face {
  font-family: 'Round Script';
  src: url('./ru/Round Script.ttf') format('truetype');
}
@font-face {
  font-family: 'Scriptorama';
  src: url('./ru/Scriptorama.ttf') format('truetype');
}
@font-face {
  font-family: 'StudioScriptCTT';
  src: url('./ru/StudioScriptCTT.eot');
  src: url('./ru/StudioScriptCTT.eot') format('embedded-opentype'),
  url('./ru/StudioScriptCTT.woff2') format('woff2'),
  url('./ru/StudioScriptCTT.woff') format('woff'),
  url('./ru/StudioScriptCTT.ttf') format('truetype'),
  url('./ru/StudioScriptCTT.svg#StudioScriptCTT') format('svg');
}
@font-face {
  font-family: 'Venecia';
  src: url('./ru/Venecia.ttf') format('truetype');
}


@font-face {
  font-family: 'daythk';
  src: url('./en/36daythk.ttf') format('truetype');
}
@font-face {
  font-family: 'angliascriptconcise';
  src: url('./en/angliascriptconcise.ttf') format('truetype');
}
@font-face {
  font-family: 'Aquarelle';
  src: url('./en/Aquarelle.ttf') format('truetype');
}
@font-face {
  font-family: 'ballantines_regular';
  src: url('./en/ballantines_regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Brawler';
  src: url('./en/Brawler.eot');
  src: url('./en/Brawler.eot') format('embedded-opentype'),
  url('./en/Brawler.woff2') format('woff2'),
  url('./en/Brawler.woff') format('woff'),
  url('./en/Brawler.ttf') format('truetype'),
  url('./en/Brawler.svg#Brawler') format('svg');
}
@font-face {
  font-family: 'BRUSHSCN';
  src: url('./en/BRUSHSCN.ttf') format('truetype');
}
@font-face {
  font-family: 'candice';
  src: url('./en/candice.eot');
  src: url('./en/candice.eot') format('embedded-opentype'),
  url('./en/candice.woff2') format('woff2'),
  url('./en/candice.woff') format('woff'),
  url('./en/candice.ttf') format('truetype'),
  url('./en/candice.svg#candice') format('svg');
}
@font-face {
  font-family: 'comic';
  src: url('./en/comic.ttf') format('truetype');
}
@font-face {
  font-family: 'comicbd';
  src: url('./en/comicbd.ttf') format('truetype');
}
@font-face {
  font-family: 'commercial script';
  src: url('./en/commercial script.ttf') format('truetype');
}
@font-face {
  font-family: 'engroleb';
  src: url('./en/engroleb.ttf') format('truetype');
}
@font-face {
  font-family: 'esenin_script_two';
  src: url('./en/esenin_script_two.ttf') format('truetype');
}
@font-face {
  font-family: 'harrington';
  src: url('./en/harrington.ttf') format('truetype');
}
@font-face {
  font-family: 'LaurenScript_2';
  src: url('./en/LaurenScript_2.ttf') format('truetype');
}
@font-face {
  font-family: 'MTCORSVA';
  src: url('./en/MTCORSVA.ttf') format('truetype');
}
@font-face {
  font-family: 'PALSCRI';
  src: url('./en/PALSCRI.ttf') format('truetype');
}
@font-face {
  font-family: 'Ribbon Heart';
  src: url('./en/Ribbon Heart.ttf') format('truetype');
}
@font-face {
  font-family: 'SCRIPTBL';
  src: url('./en/SCRIPTBL.ttf') format('truetype');
}
@font-face {
  font-family: 'Scriptina Pro';
  src: url('./en/ScriptinaPro.eot');
  src: url('./en/ScriptinaPro.eot') format('embedded-opentype'),
  url('./en/ScriptinaPro.woff2') format('woff2'),
  url('./en/ScriptinaPro.woff') format('woff'),
  url('./en/ScriptinaPro.ttf') format('truetype'),
  url('./en/ScriptinaPro.svg#ScriptinaPro') format('svg');
}
@font-face {
  font-family: 'shelley allegro bt';
  src: url('./en/shelleyallegrobt.eot');
  src: url('./en/shelleyallegrobt.eot') format('embedded-opentype'),
  url('./en/shelleyallegrobt.woff2') format('woff2'),
  url('./en/shelleyallegrobt.woff') format('woff'),
  url('./en/shelleyallegrobt.ttf') format('truetype'),
  url('./en/shelleyallegrobt.svg#shelleyallegrobt') format('svg');
}

@font-face {
  font-family: 'verdanab';
  src: url('./en/verdanab.ttf') format('truetype');
}
@font-face {
  font-family: 'verdanaz';
  src: url('./en/verdanaz.ttf') format('truetype');
}