.App-bracelet {
    border: 1px solid #1e0e00;
    height: 150px;
    margin-bottom: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 0 120px 0 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-bracelet--silver {
    background-image: url("./images/whitegoldbracelete.jpg");
}

.App-bracelet--gold {
    background-image: url("./images/yellowgoldbracelets.jpg");
}

.App-bracelet--rgold {
    background-image: url("./images/rosegoldbracelets.jpg");
}

.App-bracelet__item {
    height: 100%;
    position: relative;
}

.App-bracelet__item:hover .App-bracelet__left,
.App-bracelet__item:hover .App-bracelet__right {
    opacity: 1;
}

.App-bracelet__item:hover .App-bracelet__popover {
    display: block;
}

.App-bracelet__item div {
    max-height: 100%;
}

.App-bracelet__item img {
    max-height: 100%;
    width: auto;
}

.App-bracelet__item span {
    line-height: 146px;
    display: block;
    background: #fff;
    margin: 0 5px;
    font-size: 50px;
    font-weight: 700;
}

.App-bracelet__left {
    position: absolute;
    width: 25px;
    height: 16px;
    left: 5px;
    top: 50%;
    margin-top: -8px;
    opacity: 0;
    background: #fff url("./images/left-arrow.svg") center center no-repeat;
    background-size: auto 90%;
    border: 1px solid #000;
    border-radius: 2px;
    cursor: pointer;
}

.App-bracelet__right {
    position: absolute;
    width: 25px;
    height: 16px;
    right: 5px;
    top: 50%;
    margin-top: -8px;
    opacity: 0;
    background: #fff url("./images/right-arrow.svg") center center no-repeat;
    background-size: auto 90%;
    border: 1px solid #000;
    border-radius: 2px;
    cursor: pointer;
}

.App-bracelet__popover {
    position: absolute;
    bottom: 110px;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    background: #fff;
    border: 2px solid #1e0e00;
    display: none;
}

.App-bracelet__popover:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #1e0e00 transparent transparent transparent;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -10px;
}

.App-bracelet__popover:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -7px;
}

.App-bracelet__popover button {
    display: block;
    background: none;
    border: none;
    width: 100%;
    height: 30px;
    cursor: pointer;
}