.Welcome {
    height: 95%;
    margin-bottom: 5%;
    background: url("images/welcome-image.png") center bottom no-repeat;
    background-size: 100% auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Welcome img {
    margin: 70px auto;
}

.Welcome__text {
    font-size: 23px;
    margin: 0 auto -35px;
}

.Welcome__text-underline {
    font-size: 18px;
    text-decoration: underline;
    margin-top: 30px;
}