.App {
  max-width: 1050px;
  margin: 0 auto;
  font-family: Corbel;
}

.App,
.App * {
  box-sizing: border-box;
}

.App-settings {
  border: 1px solid #1e0e00;
  padding: 30px 0;
  display: flex;
  align-items: stretch;
  margin-bottom: 20px;
}

.App-settings__select-items {
  flex: 1;
}



.App-ordering {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App-ordering__price {
  border: 1px solid #1e0e00;
  display: flex;
  align-items: center;
  padding: 5px 30px;
  color: #000000;
  font-size: 23px;
}
.App-ordering__price span {
  font-family: Arial, sans-serif;
  color: #a81c34;
  font-size: 22px;
  margin-left: 25px;
  vertical-align: middle;
}


.App-ordering__submit {
  border: 1px solid #1e0e00;
}

.App-ordering__submit * {
  box-sizing: content-box;
}

.App-ordering__submit button {
  width: 196px;
  height: 30px;
  color: #ffffff;
  font-size: 23px;
  text-transform: uppercase;
  background: #9f102d;
  border: 7px solid #fff;
  cursor: pointer;
}

.App-ordering__submit button:hover {
  border-color: #9f102d;
}

.App-ordering__submit button[disabled] {
  opacity: .5;
  cursor: default;
}