.Sidebar {
    width: 230px;
    margin: 0 30px;
}

.Sidebar__title {
    font-size: 23px;
    font-weight: 700;
}

.Sidebar__container:not(:last-child) {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #1f0f00;
}