.checkboxes-list {}
.checkboxes-list__item {
    margin-top: 18px;
}

.checkbox-block {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-block [type="radio"] {
    display: none;
}

.checkbox-block__custom {
    width: 21px;
    height: 21px;
    border: 1px solid #666666;
    margin-right: 15px;
    position: relative;
}

.checkbox-block__text {
    font-size: 20px;
    text-transform: uppercase;
}

.checkbox-block:hover .checkbox-block__custom {
    background: #9f102d;
}

.checkboxes-list__item--active .checkbox-block__custom:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: #9f102d;
}

.checkboxes-list__item--active .checkbox-block__text {
    color: #881730;
}