.AddText-language {
    margin: 30px 0;
    text-align: center;
}

.AddText-language__item {
    width: 200px;
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 15px;
    background: none;
    border: 1px solid #1e0e00;

}

.AddText-language__item--active {
    background: #9f102d;
    color: #ffffff;
    border-color: #9f102d;
}

.AddText-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.AddText-list__item {
    padding: 3px;
    border: 1px solid #1e0e00;
    margin: 0 5px 10px;
    cursor: pointer;
}

.AddText-list__item--active {
    border-color: #9f102d;
    background: #e0e0e0;
}

.AddText-list__item img {
    display: block;
}

.AddText-input {
    margin: 20px;
}

.AddText-input input {
    width: 100%;
    height: 100px;
    line-height: 100px;
    border: 1px solid #1e0e00;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.AddText-add {
    display: block;
    margin: 0 auto;
    width: 196px;
    height: 40px;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background: #9f102d;
    color: #ffffff;
}